.projects {
  //Mobile/Tablet
  font-family: $default;
  &__content {
    width: 90%;
    margin: auto;
    padding: 1rem;

    h1 {
      text-align: center;
      font-size: 1.5rem;
      margin: 0;
      margin-bottom: 0.25rem;
    }
    .line {
      width: 100%;
      height: 3px;
      background: $orange;
    }
  }

  &__uxui,
  &__gd {
    margin-top: 2rem;
  }

  &__wd,
  &__uxui,
  &__gd {
    width: 100%;

    h2 {
      text-align: center;
      span {
        color: $orange;
      }
    }

    .grid-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 1.5rem 1.5rem;
      grid-template-areas: "project-1 project-2 project-3";

      @include breakpoint-up(large) {
        gap: 1rem 3rem;
      }
    }

    .project-1 {
      grid-area: project-1;
      .card-img {
        background: url("../projects/cris\ photography/cris_photography_thumbnail.png");
        background-size: cover;
      }
    }

    .project-2 {
      grid-area: project-2;
      .card-img {
        background: url("../projects/travel\ now/travel_now_thumbnail.png");
        background-size: cover;
        background-position: center;
      }
    }

    .project-3 {
      grid-area: project-3;
      .card-img {
        background: url("../projects/elena\ joy/elena_joy_thumbnail.png");
        background-size: cover;
        background-position: center;
      }
    }

    .project-4 {
      .card-img {
        background: url("../projects/carnaval\ dominicano/cd_thumbnail.png");
        background-size: cover;
        background-position: center;
      }
    }
    .project-5 {
      .card-img {
        background: url("../projects/pc\ sports/pcsports_thumbnail.png");
        background-size: cover;
        background-position: center;
      }
    }
    .project-6 {
      .card-img {
        background: url("../projects/exodia/exodia.png");
        background-size: 130%;
        background-position: center;
      }
    }
    .project-7 {
      .card-img {
        background: url("../projects/patron\ vapes/pv_thumbnail.png");
        background-size: 130%;
        background-position: center;
      }
    }
    .project-8 {
      .card-img {
        background: url("../projects/love\ is\ in\ the\ air/liita_thumbnail.png");
        background-size: 130%;
        background-position: center;
      }
    }
    .project-9 {
      .card-img {
        background: url("../projects/Mima's\ Honey/mh_thumbnail.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #fecf4b;
      }
    }
  }

  .section-title {
    margin: 0;
    margin-bottom: 1rem;
  }

  //Desktop
  @include breakpoint-up(large) {
    &__content {
      h1 {
        font-size: 3rem;
      }
    }
    //Comment
    .section-title {
      font-size: 2rem;
    }
  }
}
